<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Multi Level Dropdown</a>
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-ex1-collapse"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span> <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <ng-container *ngFor="let menu of menus">
          <ng-container *ngIf="menu.children.length != 0">
            <li class="menu-item dropdown">
              <a
                [routerLink]="menu.link"
                class="dropdown-toggle"
                data-toggle="dropdown"
                >{{ menu.title }}<b class="caret"></b
              ></a>
              <ul class="dropdown-menu">
                <ng-container *ngFor="let submenu1 of menu.children">
                  <ng-container *ngIf="submenu1.children.length != 0">
                    <li class="menu-item dropdown dropdown-submenu">
                      <a
                        [routerLink]="submenu1.link"
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        >{{ submenu1.title }}</a
                      >
                      <ul class="dropdown-menu">
                        <ng-container
                          *ngFor="let submenu2 of submenu1.children"
                        >
                          <ng-container *ngIf="submenu2.children.length != 0">
                            <li class="menu-item dropdown dropdown-submenu">
                              <a
                                [routerLink]="submenu2.link"
                                class="dropdown-toggle"
                                data-toggle="dropdown"
                                >{{ submenu2.title }}</a
                              >
                            </li>
                          </ng-container>

                          <ng-container *ngIf="submenu2.children.length == 0">
                            <li class="menu-item">
                              <a [routerLink]="submenu2.link">{{
                                submenu2.title
                              }}</a>
                            </li>
                          </ng-container>
                        </ng-container>
                      </ul>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="submenu1.children.length == 0">
                    <li class="menu-item">
                      <a [routerLink]="submenu1.link">{{ submenu1.title }}</a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ng-container>

          <ng-container *ngIf="menu.children.length == 0">
            <li class="menu-item">
              <a [routerLink]="menu.link">{{ menu.title }}</a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>